<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>

    <style>
        body {
            text-align: center;
        }

        ul {
            display: flex;
            justify-content: center;
            gap: 3rem;
            list-style-type: none;
        }

        p, li {
            font-size: 1.3rem;
        }

    </style>
</head>
<body>
    <main>
        <h1>You've 404-ed! We don't have that page!</h1>

        <p>Would you like to try one of these pages instead?</p>
    </main>

    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/contact.html">Contact</a></li>
        </ul>
    </nav>

    
</body>
</html>